// {
//   "presets": ["@babel/env"],
//   "compact": false,
//   "plugins": ["@babel/plugin-proposal-class-properties"]
// }
// {
//   "presets": [
//       "react",
//       [
//           "env",
//           {
//               "targets": {
//                   "browsers": ["last 2 versions"]
//               },
//               "debug": true,
//               "modules": "commonjs"
//           }
//       ]
//   ],
//   "plugins": [
//       "transform-object-rest-spread",
//       "transform-class-properties",
//       ["@babel/plugin-proposal-class-properties", { "loose": true }]
//   ]
// }
{
  "presets": [
      [
          "@babel/preset-env",
          {
              "modules": false
          }
      ]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    // ["transform-object-rest-spread"],
    // ["@babel/plugin-proposal-class-properties"]
]
}